@import '../../assets/scss/variables';

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .app {
        width: 322px;
        height: auto;
        border: 1px solid;
    }
 }
